planning_pipelines: [ompl]

ompl:
  planning_plugin: ompl_interface/OMPLPlanner
  request_adapters:
    - default_planning_request_adapters/ResolveConstraintFrames
    - default_planning_request_adapters/ValidateWorkspaceBounds
    - default_planning_request_adapters/CheckStartStateBounds
    - default_planning_request_adapters/CheckStartStateCollision
  response_adapters:
    - default_planning_response_adapters/AddTimeOptimalParameterization
    - default_planning_response_adapters/ValidateSolution
    - default_planning_response_adapters/DisplayMotionPath
  start_state_max_bounds_error: 0.1
  jiggle_fraction: 0.05
  projection_evaluator: joints(joint1,joint2)
  longest_valid_segment_fraction: 0.005

  # Planner configurations
  RRTConnect:
    type: geometric::RRTConnect
    range: 0.0

  RRT:
    type: geometric::RRT
    range: 0.0
    goal_bias: 0.05

  RRTstar:
    type: geometric::RRTstar
    range: 0.0
    goal_bias: 0.05
    delay_collision_checking: 1

  TRRT:
    type: geometric::TRRT
    range: 0.0
    goal_bias: 0.05

  PRM:
    type: geometric::PRM
    max_nearest_neighbors: 10

  PRMstar:
    type: geometric::PRMstar

  SBL:
    type: geometric::SBL
    range: 0.0

  EST:
    type: geometric::EST
    range: 0.0
    goal_bias: 0.05

  LBKPIECE:
    type: geometric::LBKPIECE
    range: 0.0
    border_fraction: 0.9
    min_valid_path_fraction: 0.5

  BKPIECE:
    type: geometric::BKPIECE
    range: 0.0
    border_fraction: 0.9
    failed_expansion_score_factor: 0.5
    min_valid_path_fraction: 0.5

  KPIECE:
    type: geometric::KPIECE
    range: 0.0
    goal_bias: 0.05
    border_fraction: 0.9
    failed_expansion_score_factor: 0.5
    min_valid_path_fraction: 0.5

  # Group-specific configurations
  xarm7:
    default_planner_config: RRTConnect
    planner_configs:
      - SBL
      - EST
      - LBKPIECE
      - BKPIECE
      - KPIECE
      - RRT
      - RRTConnect
      - RRTstar
      - TRRT
      - PRM
      - PRMstar

  xarm_gripper:
    default_planner_config: RRTConnect
    planner_configs:
      - RRTConnect
      - RRT
